body {
    background-color: rgb(18, 18, 18);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: grid;
    place-items: center;
    margin: 0rem;
}

.container-edit {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
}

.appImage {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.appImage > button {
    background-color: rgb(157, 157, 157);
    border: none;
    border-radius: 5px;
    color: rgb(29, 29, 29);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.appImage > button:hover {
    background-color: rgb(184, 184, 184);
    color: rgb(29, 29, 29);
}

.appImage > button:active {
    background-color: rgb(132, 132, 132);
    color: rgb(215, 215, 215);
}

.app-img {
    width: 150px;
    height: 225px;
    align-self: center;
    transition: 0.2s;
}

.appInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.appInfo > div {
    display: grid;
    grid-column: 1fr;
    gap: 1px;
}

.util-action > input,
.appInfo > div > input {
    border: 1px rgb(216, 216, 216) solid;
    border-radius: 3px;
    background-color: rgb(68, 68, 68);
    color: whitesmoke;
    height: 30px;
    font-size: 15px;
    font-weight: 520;
}

.util-action {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.util-action > input {
    flex-grow: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    border-right: none;
}

.util-action > button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(68, 68, 68);
    border: 1px rgb(216, 216, 216) solid;
    color: rgb(207, 207, 207);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    cursor: pointer;
}

.util-action > button.inactive {
    color: #a20101;
}

.util-action > button:hover {
    color: rgb(240, 240, 240);
}

.util-action > button.inactive:hover {
    color: #e50000;
}

.appInfo > div > select {
    border: 1px rgb(216, 216, 216) solid;
    border-radius: 3px;
    background-color: rgb(68, 68, 68);
    color: whitesmoke;
    height: 30px;
    font-size: 15px;
    font-weight: 520;
}

#appId {
    font-weight: 700;
}

.controls {
    width: 100%;
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.controls > button {
    background-color: rgb(157, 157, 157);
    border: none;
    border-radius: 5px;
    color: rgb(29, 29, 29);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.controls > button:hover {
    background-color: rgb(184, 184, 184);
    color: rgb(29, 29, 29);
}

.controls > button:active {
    background-color: rgb(132, 132, 132);
    color: rgb(215, 215, 215);
}