:root {
    --body-bg-color: rgb(18, 18, 18);
    --body-text-color: whitesmoke;
    --controls-button-bg: rgb(157, 157, 157);
    --controls-button-text: rgb(29, 29, 29);
    --controls-button-hover-bg: rgb(184, 184, 184);
    --controls-button-hover-text: rgb(29, 29, 29);
    --controls-button-active-bg: rgb(132, 132, 132);
    --controls-button-active-text: rgb(215, 215, 215);

    --add-util-action-input-border: rgb(216, 216, 216);
    --add-util-action-input-bg: rgb(68, 68, 68);
    --add-util-action-input-text: whitesmoke;
    --add-util-action-button-text: rgb(207, 207, 207);
    --add-util-action-button-inactive: #a20101;
    --add-util-action-button-hover: rgb(240, 240, 240);
    --add-util-action-button-inactive-hover: #e50000;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: grid;
    place-items: center;
    margin: 0rem;
}

.container-edit {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
}

.appImage {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.appImage > button {
    background-color: var(--controls-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--controls-button-text);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.appImage > button:hover {
    background-color: var(--controls-button-hover-bg);
    color: var(--controls-button-hover-text);
}

.appImage > button:active {
    background-color: var(--controls-button-active-bg);
    color: var(--controls-button-active-text);
}

.app-img {
    width: 150px;
    height: 225px;
    align-self: center;
    transition: 0.2s;
}

.appInfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.appInfo > div {
    display: grid;
    grid-column: 1fr;
    gap: 1px;
}

.util-action > input,
.appInfo > div > input {
    border: 1px var(--add-util-action-input-border) solid;
    border-radius: 3px;
    background-color: var(--add-util-action-input-bg);
    color: var(--add-util-action-input-text);
    height: 30px;
    font-size: 15px;
    font-weight: 520;
}

.util-action {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.util-action > input {
    flex-grow: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    border-right: none;
}

.util-action > button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--add-util-action-input-bg);
    border: 1px var(--add-util-action-input-border) solid;
    color: var(--add-util-action-button-text);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    cursor: pointer;
}

.util-action > button.inactive {
    color: var(--add-util-action-button-inactive);
}

.util-action > button:hover {
    color: var(--add-util-action-button-hover);
}

.util-action > button.inactive:hover {
    color: var(--add-util-action-button-inactive-hover);
}

.appInfo > div > select {
    border: 1px var(--add-util-action-input-border) solid;
    border-radius: 3px;
    background-color: var(--add-util-action-input-bg);
    color: var(--add-util-action-input-text);
    height: 30px;
    font-size: 15px;
    font-weight: 520;
}

#appId {
    font-weight: 700;
}

.controls {
    width: 100%;
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.controls > button {
    background-color: var(--controls-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--controls-button-text);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.controls > button:hover {
    background-color: var(--controls-button-hover-bg);
    color: var(--controls-button-hover-text);
}

.controls > button:active {
    background-color: var(--controls-button-active-bg);
    color: var(--controls-button-active-text);
}