* {
    box-sizing: border-box;
}

html.hide-cursor,
html.hide-cursor * {
    cursor: none !important;
}

html,
body {
    background-color: rgb(18, 18, 18);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}


.center {
    display: grid;
    place-items: center;
    margin: 0rem;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    height: 100%;
}

.app-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 10px;
    top: 0;
    margin-bottom: 20px;
}

.scroll-alone {
    overflow: auto;
}

.app-div {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr auto;
    padding-top: 5px;
    transition: 0.2s;
    border-radius: 10px;
    height: fit-content;
}

.app-div:hover {
    background-color: rgba(229, 226, 226, 0.27);
    cursor: pointer;
}

.app-img {
    width: 150px;
    height: 225px;
    grid-column: span 2;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}

.app-img:hover {
    filter: brightness(0.85);
}

.bottom-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.bottom-holder > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #141414;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    z-index: 1;
}

.bottom-holder > button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
    transition: 0.1s;
}

.bottom-holder > button:hover {
    background-color: rgba(182, 182, 182, 0.633);
}

.search-box {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.search-box > input {
    color: black;
    flex-grow: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 33.3333333%;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

.search-box > button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    border-color: white;
    color: rgb(55 65 81);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border: none;
}

.search-box > button:hover {
    color: rgb(156 163 175);
}

.search-box > input:focus {
    border: 1px gray;
}

.search-box > input:active {
    border: 1px gray;
}

.full > input {
    width: calc(100% - 40px);
}

.search-div {
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 10px;
}

.iconbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.iconbtn:hover {
    color: rgb(162, 162, 162);
}

.iconbtn:active {
    color: rgb(122, 122, 122);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #292929;
}

::-webkit-scrollbar-track-piece {
    background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.settings {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    display: grid;
    gap: 7px;
    margin-bottom: 22px;
    margin-top: 16px;
}

.setting-input {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.setting-input:disabled {
    background-color: white;
    color: black;
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.controls > button {
    background-color: rgb(157, 157, 157);
    border: none;
    border-radius: 5px;
    color: rgb(29, 29, 29);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.controls > button:hover {
    background-color: rgb(184, 184, 184);
    color: rgb(29, 29, 29);
}

.controls > button:active {
    background-color: rgb(132, 132, 132);
    color: rgb(215, 215, 215);
}

.switch-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.setting-label {
    font-size: 30px;
    font-weight: 700;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.showmove {
    background-color: #181717;
    border: 1px solid #404040d1;
    color: #ececec;
    border-radius: 5px;
    width: 40%;
    display: grid;
    gap: 3px;
    grid-template-columns: 4fr 1fr;
}

.showmove::backdrop {
    background-color: #22212166;
}

.showmove > .head {
    grid-column: span 2;
}

.showmove > .head > #close {
    font-size: large;
}

.showmove > #toinput {
    font-size: 1.1rem;
    border: 0;
    border-radius: 5px;
}

.showmove > #moveperm {
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    /* padding: 0.75rem 1rem; */
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.showmove > #moveperm:hover {
    background-color: rgb(237, 237, 237);
}

.showmove > #moveperm:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.showmove > #moveperm:focus-visible {
    box-shadow: none;
}

.head {
    display: grid;
    grid-template-columns: 1fr auto;
    height: fit-content;
}

.head > button {
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    color: #f5f5f5;
}

.head > button:hover {
    color: rgb(174, 174, 174);
}

.head > button:focus {
    border-radius: 1px;
    border-color: rgb(113, 113, 255);
}

.head > p {
    margin: 0;
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: large;
    height: fit-content;
}

hr {
    border-color: #0000009e;
    width: 85%;
}

.categories-dialog {
    background-color: #181717;
    box-shadow: 0 2px 4px rgba(232, 232, 232, 0.234);
    border: none;
    border-radius: 10px;
    width: 50%;
    max-width: 465px;
    min-width: 190px;
}

.categories-dialog::backdrop {
    background-color: #00000050;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.category-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
    user-select: none;
    margin-right: 10px;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    color: whitesmoke;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkmark {
    height: 24px;
    width: 24px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #4caf50;
    border-color: #4caf50;
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.title-bar > h3 {
    color: whitesmoke;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(20, 20, 20);
    min-width: 200px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
}

.context-menu li:hover {
    background-color: rgb(40, 40, 40);
}

.context-menu .has-submenu::after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
}

.submenu {
    position: absolute;
    top: -4px;
    left: 100%;
    display: none;
    margin-left: -1px;
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(20, 20, 20);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 180px;
    border-radius: 10px;
    z-index: 1001;
}

.checkbox-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 18px;
    user-select: none;
    margin-right: 10px;
    color: whitesmoke;
}

.checkbox-item input {
    display: none;
}

.checkbox-item .checkmark {
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-item input:checked + .checkmark {
    background-color: #4caf50;
    border-color: #4caf50;
}

.checkbox-item .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-item input:checked + .checkmark::after {
    display: block;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
}

.hide {
    display: none;
}

.active-item {
    color: #4caf50;
}

.active-item:hover {
    color: #347636;
}

.active-item:active {
    color: #225224;
}