:root {
    --body-bg-color: rgb(18, 18, 18);
    --body-text-color: whitesmoke;
    --hr-color: #0000009e;

    --appDiv-hover-bg: rgba(229, 226, 226, 0.27);
    --appDiv-bottom-button-hover-bg: rgba(182, 182, 182, 0.633);
    --appDiv-bottom-button-color: white;

    --tooltip-bg: #ffffff;
    --tooltip-text: #141414;
    --tooltip-border: #000000;

    --search-input-text: black;
    --search-input-bg: white;
    --search-button-bg: white;
    --search-button-border: white;
    --search-button-text: #374151;
    --search-button-hover-text: rgb(156 163 175);
    --search-button-focus-active: gray;

    --iconbtn-color: white;
    --iconbtn-hover: rgb(162, 162, 162);
    --iconbtn-active: rgb(122, 122, 122);

    --settings-input-bg: white;
    --settings-input-text: black;
    --settings-input-disabled-bg: white;
    --settings-input-disabled-text: black;

    --utilaction-button-bg: rgb(255, 255, 255);
    --utilaction-button-text: rgb(0, 0, 0);
    --utilaction-button-hover-text: rgb(92, 92, 92);

    --controls-button-bg: rgb(157, 157, 157);
    --controls-button-text: rgb(29, 29, 29);
    --controls-button-hover-bg: rgb(184, 184, 184);
    --controls-button-hover-text: rgb(29, 29, 29);
    --controls-button-active-bg: rgb(132, 132, 132);
    --controls-button-active-text: rgb(215, 215, 215);

    --switch-slider-bg: #ccc;
    --switch-slider-before-bg: white;
    --switch-checked-bg: #2196f3;

    --movemodal-bg: #181717;
    --movemodal-boder: #404040d1;
    --movemodal-text: #ececec;
    --movemodal-backdrop: #22212166;
    --movemodal-movebutton-bg: #ffffff;
    --movemodal-movebutton-text: #111827;
    --movemodal-movebutton-textdecoration: #d1d5db;
    --movemodal-movebutton-hover-bg: rgb(237, 237, 237);

    --movemodal-head-button-text: #f5f5f5;
    --movemodal-head-button-hover-text: rgb(174, 174, 174);

    --categories-dialog-bg: #181717;
    --categories-dialog-box-shadow: rgba(232, 232, 232, 0.234);
    --categories-dialog-backdrop: #00000050;

    --custom-checkbox-label: whitesmoke;
    --custom-checkbox-checkmark-bg: #eee;
    --custom-checkbox-checkmark-border: #ccc;
    --custom-ckeckbox-checked-checkmark-bg: #4caf50;
    --custom-ckeckbox-checked-checkmark-border: #4caf50;
    --custom-ckeckbox-ckeckmark-after-border: white;

    --title-bar-h3-color: whitesmoke;

    /* context menu also applies to submenues */
    --context-menu-bg: rgb(35, 35, 35);
    --context-menu-border: rgb(20, 20, 20);
    --context-menu-box-shadow: rgba(0, 0, 0, 0.2);
    --context-menu-li-hover-bg: rgb(40, 40, 40);
    --context-menu-checkbox-label-text: whitesmoke;
    --context-menu-checkbox-check-border: white;

    /* This is only used on one button */
    --active-item-color: #4caf50;
    --active-item-hover-color: #347636;
    --active-item-active-color: #225224;

    /* Shouldn't be changed because it sits on the app images 
    only change for hyper custon themes */
    --app-checkbox-border-color: #555;
    --app-checkbox-checked-bg: #4caf50;

    /* Appears ontop on the app image and holds the apps categories as a list */
    --app-category-overlay-bg: rgba(0, 0, 0, 0.7);
    --app-category-overlay-text: #fff;

    --controller-info-bg: #141414;
    --controller-info-text: #ffffff;

    --scrollbar-track: #292929;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;

    --image-clear-search-disabled: rgba(239, 239, 239, 0.3);
    --image-search-disabled-text: white;
}

* {
    box-sizing: border-box;
}

html.hide-cursor,
html.hide-cursor * {
    cursor: none !important;
}

html,
body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

.center {
    display: grid;
    place-items: center;
    margin: 0rem;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    height: 100%;
}

.app-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 10px;
    top: 0;
    margin-bottom: 20px;
}

.scroll-alone {
    overflow: auto;
}

.app-div {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr auto;
    padding-top: 5px;
    transition: 0.2s;
    border-radius: 10px;
    height: fit-content;
}

.app-div:hover {
    background-color: var(--appDiv-hover-bg);
    cursor: pointer;
}

.app-img {
    width: 150px;
    height: 225px;
    grid-column: span 2;
    align-self: center;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}

.app-img:hover {
    filter: brightness(0.85);
}

.bottom-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.bottom-holder > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text);
    padding: 5px;
    border: 1px solid var(--tooltip-border);
    border-radius: 5px;
    z-index: 3;
}

.bottom-holder > button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    color: var(--appDiv-bottom-button-color);
    font-size: 1.25em;
    transition: 0.1s;
}

.bottom-holder > button:hover {
    background-color: var(--appDiv-bottom-button-hover-bg);
}

.search-box {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.search-box > input {
    color: var(--search-input-text);
    background-color: var(--search-input-bg);
    flex-grow: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 33.3333333%;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

.search-box > button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--search-button-bg);
    border-color: var(--search-button-border);
    color: var(--search-button-text);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border: none;
}

.search-box > button:hover {
    color: var(--search-button-hover-text);
}

.search-box > input:focus {
    border: 1px var(--search-button-focus-active);
}

.search-box > input:active {
    border: 1px var(--search-button-focus-active);
}

.full > input {
    width: calc(100% - 40px);
}

.search-div {
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr repeat(5, auto);
    gap: 10px;
}

.iconbtn {
    background: none;
    border: none;
    color: var(--iconbtn-color);
    cursor: pointer;
}

.iconbtn:hover {
    color: var(--iconbtn-hover);
}

.iconbtn:active {
    color: var(--iconbtn-active);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-track-piece {
    background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.settings {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    display: grid;
    gap: 7px;
    margin-bottom: 22px;
    margin-top: 16px;
}

.util-action > input,
.setting-input {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: var(--settings-input-bg);
    color: var(--settings-input-text);
}

.setting-input:disabled {
    background-color: var(--settings-input-disabled-bg);
    color: var(--settings-input-disabled-text);
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free", FontAwesome;
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #374151;
}

.setting-select {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: var(--settings-input-bg);
    color: var(--settings-input-text);
    padding: 0 30px 0 10px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    transition: box-shadow 0.15s ease;
}

.setting-select:focus {
    border: none;
    outline: none;
}

.setting-select option {
    background-color: var(--settings-input-bg);
    color: var(--settings-input-text);
    font-weight: 600;
}

.util-action {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.util-action > input {
    flex-grow: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    border-right: none;
}

.util-action > button {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--utilaction-button-bg);
    border: none;
    color: var(--utilaction-button-text);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    cursor: pointer;
}

.util-action > button:hover {
    color: var(--utilaction-button-hover-text);
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.controls > button {
    background-color: var(--controls-button-bg);
    border: none;
    border-radius: 5px;
    color: var(--controls-button-text);
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.1s;
    font-weight: 600;
    cursor: pointer;
}

.controls > button:hover {
    background-color: var(--controls-button-hover-bg);
    color: var(--controls-button-hover-text);
}

.controls > button:active {
    background-color: var(--controls-button-active-bg);
    color: var(--controls-button-active-text);
}

.switch-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.setting-label {
    font-size: 30px;
    font-weight: 700;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--switch-slider-bg);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--switch-slider-before-bg);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--switch-checked-bg);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.showmove {
    background-color: var(--movemodal-bg);
    border: 1px solid var(--movemodal-boder);
    color: var(--movemodal-text);
    border-radius: 5px;
    width: 40%;
    display: grid;
    gap: 3px;
    grid-template-columns: 4fr 1fr;
}

.showmove::backdrop {
    background-color: var(--movemodal-backdrop);
}

.showmove > .head {
    grid-column: span 2;
}

.showmove > .head > #close {
    font-size: large;
}

.showmove > #toinput {
    font-size: 1.1rem;
    border: 0;
    border-radius: 5px;
}

.showmove > #moveperm {
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--movemodal-movebutton-text);
    font-family:
        "Inter var",
        ui-sans-serif,
        system-ui,
        -apple-system,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    /* padding: 0.75rem 1rem; */
    text-align: center;
    text-decoration: none var(--movemodal-movebutton-textdecoration) solid;
    text-decoration-thickness: auto;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.showmove > #moveperm:hover {
    background-color: var(--movemodal-movebutton-hover-bg);
}

.showmove > #moveperm:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.showmove > #moveperm:focus-visible {
    box-shadow: none;
}

.head {
    display: grid;
    grid-template-columns: 1fr auto;
    height: fit-content;
}

.head > button {
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--movemodal-head-button-text);
}

.head > button:hover {
    color: var(--movemodal-head-button-hover-text);
}

.head > button:focus {
    border-radius: 1px;
}

.head > p {
    margin: 0;
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: large;
    height: fit-content;
}

hr {
    border-color: var(--hr-color);
    width: 85%;
}

.categories-dialog {
    background-color: var(--categories-dialog-bg);
    box-shadow: 0 2px 4px var(--categories-dialog-box-shadow);
    border: none;
    border-radius: 10px;
    width: 50%;
    max-width: 465px;
    min-width: 190px;
}

.categories-dialog::backdrop {
    background-color: var(--categories-dialog-backdrop);
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.category-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 20px;
    user-select: none;
    margin-right: 10px;
    margin-top: 5px;
    color: var(--custom-checkbox-label);
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox .checkmark {
    height: 24px;
    width: 24px;
    background-color: var(--custom-checkbox-checkmark-bg);
    border: 2px solid var(--custom-checkbox-checkmark-border);
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    transition:
        background-color 0.2s,
        border-color 0.2s;
}

.custom-checkbox input:checked + .checkmark {
    background-color: var(--custom-ckeckbox-checked-checkmark-bg);
    border-color: var(--custom-ckeckbox-checked-checkmark-border);
}

.custom-checkbox .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--custom-ckeckbox-ckeckmark-after-border);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
    display: block;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.title-bar > h3 {
    color: var(--title-bar-h3-color);
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: var(--context-menu-bg);
    border: 1px solid var(--context-menu-border);
    min-width: 200px;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--context-menu-box-shadow);
    border-radius: 10px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
}

.context-menu li:hover {
    background-color: var(--context-menu-li-hover-bg);
}

.context-menu .has-submenu::after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
}

.submenu {
    position: absolute;
    top: -4px;
    left: 100%;
    display: none;
    margin-left: -1px;
    background-color: var(--context-menu-bg);
    border: 1px solid var(--context-menu-border);
    box-shadow: 0 2px 5px var(--context-menu-box-shadow);
    min-width: 180px;
    border-radius: 10px;
    z-index: 1001;
}

.checkbox-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    color: var(--context-menu-checkbox-label-text);
}

.checkbox-item input {
    display: none;
}

.checkbox-item .checkmark {
    height: 18px;
    width: 18px;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    transition:
        background-color 0.2s,
        border-color 0.2s;
}

.checkbox-item .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid var(--context-menu-checkbox-check-border);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-item input:checked + .checkmark::after {
    display: block;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
}

.hide {
    display: none;
}

.active-item {
    color: var(--active-item-color);
}

.active-item:hover {
    color: var(--active-item-hover-color);
}

.active-item:active {
    color: var(--active-item-active-color);
}

.app-checkbox {
    z-index: 2;
    pointer-events: none;
    appearance: none;
    grid-area: stack;
    align-self: start;
    justify-self: start;
    border-radius: 10px;
    border: 2px solid var(--app-checkbox-border-color);
    vertical-align: middle;
    outline: none;
    width: 20px;
    height: 20px;
    display: grid;
}

.app-checkbox::before {
    font-size: 12px;
    align-self: center;
    justify-self: center;
}

.app-checkbox:checked {
    background-color: var(--app-checkbox-checked-bg);
}

.app-checkbox:checked::before {
    content: "\f00c";
    color: white;
    font-family: FontAwesome;
}

.cats-list {
    list-style: none;
    padding: 4px;
    margin: 0;
    background: var(--app-category-overlay-bg);
    color: var(--app-category-overlay-text);
    border-radius: 10px;
    font-size: 0.9em;
    z-index: 2;
    pointer-events: none;
    height: fit-content;
    align-self: end;
    grid-area: stack;
}

.controller {
    padding: 5px;
    background-color: var(--controller-info-bg);
    border-radius: 10px;
    color: var(--controller-info-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controller-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
