<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppLauncher</title>
    <link rel="stylesheet" href="style.css">
    <script src="/script.js" defer></script>
</head>

<body>
    <div class="main scroll-alone" id="mainContent">
        <div class="search-div">
            <form id="searchForm" class="search-box">
                <input type="text" id="search" placeholder="Search library...">
                <button type="button" id="clearSearch">clear</button>
            </form>
            <div></div>
            <div></div>
        </div>
        <div id="appgrid" class="app-grid scroll-alone"></div>
    </div>
    <div class="settings scroll-alone"></div>
    <div></div>
    <dialog class="categories-dialog" id="infoMessage">
        <div class="title-bar">
            <h3>Info</h3>
        </div>
        <hr>
        <div id="message" style="color: white; line-height: 1.6;"></div>
        <div class="bottom-bar">
            <button id="closeMessage">Close</button>
        </div>
    </dialog>
    <div id="tooltip" class="tooltip"></div>
</body>

</html>