* {
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(18, 18, 18);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

.center {
    display: grid;
    place-items: center;
    margin: 0rem;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    height: 100%;
}

.app-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    gap: 10px;
    top: 0;
    margin-bottom: 20px;
}

.scroll-alone {
    overflow: auto;
}

.app-div {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr auto;
    padding-top: 5px;
    transition: 0.2s;
    border-radius: 10px;
    height: fit-content;
}

.app-div:hover {
    background-color: rgba(229, 226, 226, 0.27);
}

.app-img {
    width: 150px;
    height: 225px;
    grid-column: span 2;
    align-self: center;
    transition: 0.2s;
    border-radius: 10px;
}

.app-img:hover {
    filter: brightness(0.85);
}

.bottom-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.bottom-holder > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #141414;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    z-index: 1;
}

.bottom-holder > button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
    transition: 0.1s;
}

.bottom-holder > button:hover {
    background-color: rgba(182, 182, 182, 0.633);
}

.search-box {
    display: flex;
    flex-direction: row;
    height: 25px;
}

.search-box > input {
    color: black;
    flex-grow: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 66.6666666%;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
}

.search-box > button {
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    border-color: white;
    color: rgb(55 65 81);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border: none;
}

.search-box > button:hover {
    color: rgb(156 163 175);
}

.search-box > input:focus {
    border: 1px gray;
}

.search-box > input:active {
    border: 1px gray;
}

.search-div {
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
}

.iconbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.iconbtn:hover {
    color: rgb(162, 162, 162);
}

.iconbtn:active {
    color: rgb(122, 122, 122);
}

.categories-dialog {
    background-color: #181717;
    box-shadow: 0 2px 4px rgba(232, 232, 232, 0.234);
    border: none;
    border-radius: 10px;
    width: 50%;
    max-width: 465px;
    min-width: 190px;
}

@media (max-width: 711px) {
    .categories-dialog {
        width: 90%;
    }
}

.categories-dialog::backdrop {
    background-color: #00000050;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.title-bar > h3 {
    color: whitesmoke;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.bottom-bar > button {
    padding: 3px;
    font-size: 1.2rem;
    background-color: rgb(236, 236, 236);
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #292929;
}

::-webkit-scrollbar-track-piece {
    background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}